@import "global.scss";

:host {
  flex: 1;
}

.sidebar {
  &__wrapper {
    height: 100%;
  }

  &__navigation {
    padding: 0;
  }

  &__navigation-item {
    &--active {
      background-color: rgba(map-get($my-accent, 200), 15%);

      ::ng-deep {
        span {
          color: map-get($my-accent, 200);
        }
      }
    }
  }
}
