<div (click)="openModal(modalContent, modalActions)" (keydown.enter)="openModal(modalContent, modalActions)" tabindex="0" role="button">
  <ng-content select="[opener]">
    <button *ngIf="!iconText" mat-icon-button [matTooltip]="openerIconTooltip || 'Accept'" [color]="openerIconColor">
      <mat-icon [ngClass]="{ modal__icon: !openerIcon }">{{ openerIcon || "open_in_new" }}</mat-icon>
    </button>
    <button *ngIf="iconText" mat-fab extended [matTooltip]="openerIconTooltip || 'Accept'" [color]="openerIconColor">
      {{ iconText }}<mat-icon [ngClass]="{ modal__icon: !openerIcon }">{{ openerIcon || "open_in_new" }}</mat-icon>
    </button>
  </ng-content>
</div>

<ng-template #modalContent>
  <ng-content select="[content]">
    <h2 class="modal__title">{{ contentTitle || "Are you sure?" }}</h2>
  </ng-content>
</ng-template>

<ng-template #modalActions>
  <ng-content select="[actions]">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="cancelButtonColor" [disabled]="isLoading">
      {{ cancelButton || "No" }}
    </button>
    <button (click)="confirm()" [color]="confirmButtonColor" [disabled]="isLoading" class="modal__button" mat-button>
      <span class="modal__box">
        <mat-icon class="modal__spiner">
          <mat-progress-spinner *ngIf="isLoading" color="accent" mode="indeterminate" diameter="20"></mat-progress-spinner>
        </mat-icon>
        <span>{{ confirmButton || "Yes" }}</span>
      </span>
    </button>
  </ng-content>
</ng-template>
